@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Crimson+Text:ital@1&family=Kalnia:wght@300&family=PT+Serif&family=Playfair+Display&display=swap');*{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Serif', serif;
}
